<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>{{wp_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{theme.link}}/style.css" media="screen">
  {{wp_head}}
</head>
<body>

<header>
  <a href="{{site.url}}">{{site.name}}</a>
  {% include 'nav.twig' %}
</header>

{% block content %}
{% endblock %}

{% include 'sidebar.twig' %}

{{wp_footer}}

</body>
</html>
